bin
obj
StackExchange.NetGain.suo
TestResults
*.docstates
StakcExchange.NetGain.sln.docstates.suo
_ReSharper.*
*.user
*.v11.suo
*.v12.suo
*.suo
.vs/
*.sln.ide
*.orig
StackExchange.NetGain.*.nupkg
/packages/
!packages/repositories.config
.nukpgs/